body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("task/background.png") no-repeat 0 0;
    background-size: cover;
}

.container{
    width: 420px;
    height: 386px;
    background: white;
    box-shadow: 0 2px 4px #b2b2b2;
    margin: 155px auto 0 auto;
    border-radius: 5px;
}

.container .header {
    display: inline-block;
    height: 55px;
    width: 100%;
}

.container .header .block {
    float: left;
    width: 105px;
    height: 100%;
    background: #eeeeee;
}

.container .header .user {
    background: url("task/user.png") no-repeat 50% 50%;
}

.container .header .contact {
    background: #eeeeee url("task/contact.png") no-repeat 50% 50%;
}

.container .header .contact:hover {
    background: url("task/contact2.png") no-repeat 50% 50%;
}

.container .header .settings {
    background: #eeeeee url("task/settings.png") no-repeat 50% 50%;
}

.container .header .settings:hover {
    background: url("task/settings2.png") no-repeat 50% 50%;
}

.container .header .congratulations {
    background: #eeeeee url("task/congratulations.png") no-repeat 50% 50%;
}

.container .header .congratulations:hover {
    background: url("task/congratulations2.png") no-repeat 50% 50%;
    /*border-radius: 0 5px 0 0;*/
}

input {
    outline: none;
}

form {
    width: 355px;
    height: 386px;
    margin: 40px auto 0 auto;
    clear: both;
}

form input[type=text],
form input[type=email]{
    height: 15px;
    width: 331px;
    border: 2px solid #dde0e2;
    border-radius: 3px;
    color: #dde0e2;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
}

form input[type=text]:focus,
form input[type=email]:focus {
    border: 2px solid #0287cc;
    border-radius: 3px;
    color: #0287cc;
}

form input[type=submit]{
    height: 43px;
    width: 355px;
    border-radius: 3px;
    background: #90c842;
    color: white;
    border: 2px solid #90c842;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 16px;
}
